// VARIABLES
$theme-color: #FF9900;

.auth-nav {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.auth-nav-right {
    height: 100%;
    float: right;
    display: flex;
    width: fit-content;
}

.nav-img {
    width: 20%;
}

.auth-nav-tab {
    color: $theme-color;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 0.25em;
    margin: 15px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

button.auth-nav-tab {
    background: none!important;
    border: none;
    padding: 0!important;
}
  
.auth-nav-tab:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1%;
    bottom: 0;
    left: 0;
    background-color: $theme-color;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.auth-nav-tab:hover {
    text-decoration: none;
    color: $theme-color;
}

.auth-nav-tab:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  