.confirmation .card {
    top: 20vh !important;
    width: 550px !important;
    margin: auto;
    background-color: #1d1d1d !important;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.15));
    border-radius: 16px;
}

.confirmation .card-title {
    color: #cccccc;
    font-size: 24px !important;
}

.confirmation .card-text {
    color: #cccccc;
    font-size: 16px;
} 

.confirmation .card-body {
    margin: 60px 40px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.confirmation .card-body>.card-title {
    margin: 0 50px 20px 50px;
    text-align: center;
}

.confirmation .card-body>.card-text {
    margin: 30px 0;
}


.confirmation .card-link {
    font-size: 14px;
}