// VARIABLES
$theme-color: #FF9900;

#contact {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: white;
}

.heading {
    text-align: center;
    margin: 3% 0% 3% 0%;
    color: $theme-color;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }