$theme-color: #FF9900;
$form-color: #1d1d1d;

.card {
    top: 60px;
    width: 500px !important;
    margin: auto;
    background-color: $form-color !important;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.15));
    border-radius: 16px;
}

.card-title {
    color: #cccccc;
    font-size: 34px !important;
}

.card-text {
    color: #cccccc;
    font-size: 16px;
    margin: 10px 0 !important;
}

.card-body {
    margin: 60px 40px;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login .signin-form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

.signin-form {
    margin: 30px 0;
}

.signin-form>* {
    margin: 30px 0;
}

.signin-button {
    margin: 25px 0 !important;
    line-height: 25px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    border-radius: 12px !important;
    background-color: $theme-color !important;
    border-color: $theme-color !important;
    width: 100% !important;
}

.form-control {
    border: 2px solid $theme-color !important;
    box-sizing: border-box !important;
    border-radius: 12px !important;
    font-size: 14px !important;
    padding: 20px 15px !important;
}

.form-label {
    color: #cccccc;
    font-size: 24px;
    font-weight: 400 !important;
}

.card-link {
    font-size: 14px;
}

// CONFIRMATION
