// VARIABLES
$theme-color: #FF9900;

// GENERAL 
.App {
  text-align: center;
  background-color:black;
  color: $theme-color;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center {
  justify-content: center;
  text-align: center;
}

.Group {
  display: flex;
  justify-content: center;
}

.Heading {
  text-align: center;
  margin: 0% 0% 0% 0%;
  color: $theme-color;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

// NAVBAR
#mainpage-button {
  background-color: $theme-color;
  border: 1px solid transparent;
  color: white;
  font-size: 11px;
  font-weight: lighter;
  letter-spacing: 0.25em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  width: fit-content;
  height:fit-content;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
}

.navbar-custom {
  width: 70%;
  margin-left: 15%;
  padding: 1%;
  background-color: black;
  color: white;
  // border: 1px solid $theme-color;
  // border-radius: 5px;
  justify-content: center;
  // position: fixed;
  top:0;
}

.nav-tab {
  color: $theme-color;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0.25em;
  margin: 3%;
  padding: 1%;
  text-decoration: none;
  text-transform: uppercase;
  float: none;
  // transition: all .5s ease-in-out;
  position:relative;
}

.nav-tab:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1%;
  bottom: 0;
  left: 0;
  background-color: $theme-color;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.nav-tab:hover {
  text-decoration: none;
  color: $theme-color;
}

.nav-tab:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#profile {
  display: flex;
}

#tagline {
  color: $theme-color;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

#topdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

// LOGO DIV 
#logo-div {
  height: 40%;
  width: 100%;
  padding: 50px;
  margin: 6% 0% 6% 0%;
}

#mainLogo {
  width: 50%;
  height: auto;
}

// GAMES DIV
.card-div {
  width: 22%;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}

.card-custom {
  width: 100%;
  height: 80%;
  margin: 0% 1%;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
}

.card-div:hover .card-custom {
  -moz-box-shadow: 0 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0px 0px 10px #fff;

  img {
    opacity: 30%;
  }
}

.container {
  width : 80%;
  margin : 50px auto;
}

#games-div {
  margin: 0% 0%;
}

.mainpage-buttons {
  position:relative;
  bottom: 45%;
  z-index: -1;
}

.mainpage-button {
  background-color: $theme-color;
  border: 1px solid transparent;
  color: white;
  font-size: 0.5em;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 3px;
  width: fit-content;
  height:fit-content;
  padding: 5px 7px;
  margin: 2% 2%;
  cursor: pointer;
  position: relative;
}

.card-div:hover .mainpage-buttons {
  z-index: 10;
  display: hidden;
}

.release-button {
  background-color: $theme-color;
  border: 1px solid transparent;
  color: white;
  font-size: 0.5em;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  padding: 5px 7px;
  margin: 1% 1%;
  cursor: pointer;
}

.row-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 0% 10%;
  width: fit-content;
}

// COUNTDOWN
.countdown {
  margin: 1% 0% 2% 0%;
  color: $theme-color;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

// TUTORIAL
.tutorial-video {
  margin: 2%;
}

// CONTACT US
.contact-div {
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  margin: 2%;
  
  img {
    width: 30%;
  }
}

.contact-card {
  background-color: transparent;
  border-radius: 16px;
  padding: 2%;
  margin: 0% 0%;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  width: 90%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: center;
  margin: 0% 0%;
}

.form-input {
  color:white;
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  border-radius: 3px;
  background-color: #cccccc;
  border:2px solid $theme-color;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

#submit-button {
  width: 100%;
  background: $theme-color;
  border: 1px solid $theme-color;
  border-radius: 3px;
  cursor:pointer;
  color:white;
  font-size: 13px;
  padding: 1% 0%;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

// RESPONSIVENESS 
@media screen and (max-width: 1000px) {
  .card-div {
    width: 30%;
  }
}

@media screen and (max-width: 812px) {
  .container {
    width: 100%;
  }

  .card-div {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .card-div {
    width: 80%;
  }
}