// VARIABLES
$theme-color: #FF9900;

#tutorial {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading {
    text-align: center;
    margin: 3% 0% 3% 0%;
    color: $theme-color;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

.container {
    justify-content: center;
    // text-align: center;
}

h1, h2, h3, h4, h5 {
    color: #cccccc;
    font-weight: bold;
}

p {
    font-size: 14px;
    color: #cccccc;
}
